<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Successful</title>
      <link rel="stylesheet" href="/cart.css">



</head>

<body>

    <div class="card">
        <h1>🎉 Order Successful!</h1>
        <p>Your order has been placed. Thank you for shopping with us!</p>

        <a class="btn" href="/users/dashboard">Return to Dashboard</a>
    </div>

</body>
</html>
